# Ignore executable files
*.exe

# Ignore Java class files
*.class

# Ignore Word files
*.docx

# Ignore temporary files
*.tmp

# Ignore Python cache
__pycache__/

# Ignore node modules
node_modules/

# Ignore VS Code settings
.vscode/

*.jar

# Apache Tomcat
Advanced Java/apache-tomcat-10.1.57/